---
import "@components/showcase/services/service-card.scss";
import Settings from "@/components/core/icons/Settings.astro";
---

<section class="services">
    <h2 class="services__title"><Settings /> Servicios</h2>

    <ul class="services__list">
       <li class="services__item">
         <article class="services__description">
            <h3>Desarrollo Front-End</h3>
            <p>Interfaces modernas, accesibles y responsivas. Enfoque en performance, UX y buenas prácticas.</p>
         </article>
       </li>

       <li class="services__item">
         <article class="services__description">
            <h3>Arquitectura&Escalabilidad</h3>
            <p>Diseño de arquitecturas limpias y escalables. Organización de proyectos orientados a crecimiento y mantenibilidad.</p>
         </article>
       </li>

       <li class="services__item">
         <article class="services__description">
            <h3>Automatización con Python</h3>
            <p>Automatización de tareas, procesamiento de datos y scripts personalizados para aumentar la eficiencia.</p>
         </article>
       </li>

       <li class="services__item">
         <article class="services__description">
            <h3>IA Aplicada (En formación)</h3>
            <p>Formación activa en ML, DL y NLP con Python. Aplico librerías como Scikit-Learn, TensorFlow y PyTorch en proyectos personales y de aprendizaje.</p>
         </article>
       </li>
       
    </ul>
</section>