@use "@/shared/styles/abstracts/_variables" as v;
@use "@/shared/styles/abstracts/_mixins" as mx;

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #141C3A;
}

::-webkit-scrollbar-thumb {
    background-color: #6E07F3;
}

html {
    font-family: 'Onest Variable', sans-serif;
    background-image: v.$bg-white;
	scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    color: v.$text-black;
    font-size: 1rem;
    line-height: 1.5;
}

body { 
    min-height: 100vh;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.main {
    max-width: 100vw;
    margin: 0 auto;
    position: relative;
}

h2 {
    font-size: $font-size-xmedium;
    font-weight: 700;
}

/* Modo oscuro */
body.dark-mode { 
    background-image: v.$bg-dark;
    color: v.$text-white;
    transition: background-color 0.5s ease, color 0.5s ease;
   
    :is(.experience__title h2, .projects__title-h2, .about__title-h2, 
    .skill__title-h2, .sectionContact__title, .services__title h2) { 
        @include mx.title-style-dark;
    }

    :is(.about__text span, .projects__figure-title, .timeline__description span) {
        color: v.$text-enfasis-dark;
    }

    :is(.timeline__description--item, .timeline__extra, .projects__items, .projects__figure-description, .contact__label,
    .timeline__sumary-p, .timeline__skills-h3, .timeline__title p,.skill__subtitle h3, #contact__message-main ) {
        color: v.$text-white;
    }

    :is(.timeline__item, .skill__category, .projects__cards, .skill__subtitle, .service__card-description) {
        background: v.$bg-cardproject-dark;
        color: v.$text-white;
    }

    :is(.projects__cards:hover) {
        box-shadow: 0 0 20px #ffffff66;
    }

    :is(.contact__actions-buttom) {
        border: 1px solid #e2cdf2;
        color: #f3f2f4;
    }

    :is(.bar) {
        background: v.$text-white;
    }

    /*:is(.services__item, .services__description h3) {
        background-color: v.$bg-cardproject-dark;
        color: v.$text-enfasis-dark;
        
    }*/
}

