---
import '@/sections/profile/about/about.scss';
import aboutData from "@/core/data/aboutData";

const { title, description } = aboutData;
---

<section class="about__article" aria-labelledby="about-title">
  <header class="about__title">
    <span role="img" aria-label="saludo">👋</span>
    <h2 id="about-title" class="about__title-h2">{title}</h2>
  </header>
  
  <article class="about__description">
    {description.map((text, index) => (
      <p 
        class="about__text" 
        set:html={text} 
        aria-label={`párrafo ${index + 1} de la sección sobre mí`}>
      </p>
    ))}
  </>
</section>
