@use "@/shared/styles/abstracts/_variables" as v;
@use "@/shared/styles/abstracts/_mixins" as mx;

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  &__content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
  }
}

@media (max-width: 767px) {
  .hero {

    &__content {
      padding-top: 12rem 0 0 0.8rem;
    } 
  }
}