---
import '@components/showcase/skills/skills.scss'
import AstroIcon from '@/components/core/icons/AstroIcon.astro';
import LaptopCode from '@/components/core/icons/LaptopCode.astro';
import Html from '@/components/core/icons/Html.astro';
import Css from '@/components/core/icons/Css.astro';
import JavaScript from '@/components/core/icons/JavaScript.astro';
import React from '@/components/core/icons/React.astro';
import TypeScript from '@/components/core/icons/TypeScript.astro';
import Tailwind from '@/components/core/icons/Tailwind.astro';
import Sass from '@/components/core/icons/Sass.astro';
import Python from '@/components/core/icons/Python.astro';
import Mysql from '@/components/core/icons/Mysql.astro';
import FastAPI from '@/components/core/icons/FastAPI.astro';
import Cloudflare from '@/components/core/icons/Cloudflare.astro';
import Git from '@/components/core/icons/Git.astro';
import NodeJs from '@/components/core/icons/NodeJs.astro';
import Doker from '@/components/core/icons/Doker.astro';
import Next from '@/components/core/icons/Next.astro';
---

<section class="skill" id="tecnologias">
    <article class="skill__title">
      <LaptopCode class="skill__title-icon"/>
      <h2 class="skill__title-h2">Habilidades</h2>
    </article>
    
    <section class="skill__categories">
      <article class="skill__category">
        <h3 class="skill__subtitle">Front-End</h3>
        <ul class="skill__list">
          <li><AstroIcon class="skill__list-icon" />Astro</li>
          <li><Html class="skill__list-icon" />HTML</li>
          <li><Css class="skill__list-icon" />CSS</li>
          <li><JavaScript class="skill__list-icon" />JavaScript</li>
          <li><React class="skill__list-icon" />React</li>
          <li><TypeScript class="skill__list-icon" />TypeScript</li>
          <li><Sass class="skill__list-icon" />Sass</li>
          <li><Tailwind class="skill__list-icon" />Tailwind</li>
          <li><Git class="skill__list-icon" />Git</li>
        </ul>
      </article>
      
      <article class="skill__category">
        <h2 class="skill__subtitle">Back-End</h2>
        <ul class="skill__list">
          <li><Python class="skill__list-icon" />Python</li>
          <li><Mysql class="skill__list-icon" />MySQL</li>
          <li><FastAPI class="skill__list-icon" />FastAPI</li>
        </ul>
      </article>
      
      <article class="skill__category">
        <h2 class="skill__subtitle">Aprendiendo</h2>
        <ul class="skill__list">
          <li><Cloudflare class="skill__list-icon" />Cloudflare</li>
          <li><NodeJs class="skill__list-icon" />NodeJs</li>
          <li><Doker class="skill__list-icon"/>Doker</li>
          <li><Next class="skill__list-icon" />Next</li>
        </ul>
      </article>
    </section>
</section>
  