@use "@/shared/styles/abstracts/_variables" as v;
@use "@/shared/styles/abstracts/_mixins" as mx;

.contactos {
    padding-top: 14rem;    
}
  
.sectionContact {
  
  &__title {
    @include mx.title-style();
  }

  &__container {
    @include mx.flex(flex, flex-start, flex-start);
    gap: 10rem;

    @include mx.mq-max(768px) {
      @include mx.column(flex, column, flex-start);
      gap: 2rem;
      margin-bottom: 2rem;
      
    }
  }
}

@media (320px <= width <= 480px) {
.sectionContact {
    padding: 1rem 0;
    
    &__title {
      font-size: 1.3rem;
      
    }
    
    &__container {
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
  }
}