---
import '@styles/app.scss';
import Moon from '@/components/core/icons/Moon.astro'
import Sun from '@/components/core/icons/Sun.astro'
---
<article class="mode-dark" id="mode-dark-toggle">
  <span class="mode-dark__toggle">
    <i class="mode-dark__icon mode-dark__icon--sun"><Sun /></i>
    <i class="mode-dark__icon mode-dark__icon--moon"><Moon /></i>
  </span>
</article>