---
import "@/shared/styles/app.scss";
import CardProfile from "@/features/profile/card-profile/components/CardProfile.astro";
---

<section class="hero" id="top">
  
  <section class="hero__content">
    <CardProfile />
  </section>
</section>

<script type="module">
  import { initHero } from "@/core/js/hero.js";

  initHero();
</script>

