---
import '@/shared/styles/app.scss';
import logocard from '@/shared/assets/cards/logocard.webp';
import SlackIcon from '@/shared/icons/Slack.astro';
import LinkedInIcon from '@/shared/icons/LinkedIn.astro';
import GithubIcon from '@/shared/icons/Github.astro';
import EmailIcon from '@/shared/icons/Email.astro';
import ItemsIcons from '@/shared/components/ItemsIcons.astro';
---

<section class="section-footer">
    <section class="section-footer__container">
        <article class="section-footer__perfil">
            <div class="section-footer__perfil--logo">
                <a href="#top"><img src={logocard.src} alt="Logo de Ezequiel Suarez" loading="lazy" /></a>
            </div>

            <div class="section-footer__perfil--title">
                <h1>Ezequiel Suarez</h1>
                <p>Desarrollador Front-End</p>
            </div>
        </article>
            
        <article class="section-footer__social">
            <ul class="section-footer__social-list">
               <li class="section-footer__social-item">
                    <ItemsIcons href="mailto:ezequielsuarez.dev@gmail.com">
                        <EmailIcon class="section-footer__social-icon" />
                    </ItemsIcons>
               </li>
                
               <li class="section-footer__social-item">
                    <ItemsIcons href="https://app.slack.com/huddle/T03UTHFCGLF/C03V55LJ7HT">
                        <SlackIcon class="section-footer__social-icon"/>
                    </ItemsIcons>
               </li>
                
               <li class="section-footer__social-item">
                    <ItemsIcons href="https://www.linkedin.com/in/ezequiel-suarez-dev">
                        <LinkedInIcon class="section-footer__social-icon" />
                    </ItemsIcons>
               </li>
               
                <li class="section-footer__social-item">
                    <ItemsIcons href="https://github.com/ezequiel-dev93">
                        <GithubIcon class="section-footer__social-icon" />
                    </ItemsIcons>
                </li>
            </ul>  
        </article>
    </section>
    <p class="section-footer__legal"> 
        <span>© 2025 Todos los derechos reservados</span> <span> | Ezequiel Suarez</span>
    </p>
</section>



