@use "@/shared/styles/abstracts/_variables" as v;

/* | Media Queries */
@mixin mq-max($medida: 768px) {
    @media (max-width: $medida) {
        @content;
    }
}

@mixin mq-min($medida: 480px) {
    @media (min-width: $medida) {
        @content;
    }
}

/* | Flex y Grid */
@mixin flex($dis, $jus, $center) {
    display: $dis;
    justify-content: $jus;
    align-items: 	 $center;
}

@mixin center($dis, $center, $gap) {
    display: $dis;
    align-items: 	$center;
    gap: $gap;
}

@mixin column($dis, $flex, $center) {
  display: $dis;
  flex-direction: $flex;
  align-items: 	$center;
}

@mixin grid($dis ,$center) {
  display: $dis;
  place-items: $center;
}

@mixin grid-column($columnas, $espacio) {
    display: 		       grid;
    grid-template-columns: repeat($columnas, 1fr);
}  
 
@mixin title-style {
    background: linear-gradient(135deg, #58039d, #E84B3C);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@mixin title-style-dark {
    background: linear-gradient(135deg, #bc97d2, #E84B3C);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@mixin text-animate {
  background: linear-gradient(135deg, #663399, #E84B3C);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

