$bg-white: 
radial-gradient(circle at 90% 8%, rgba(143, 0, 159, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%), 
radial-gradient(circle at 12% 20%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%),
radial-gradient(circle at 78% 90%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%),
radial-gradient(circle at 70% 37%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%),
radial-gradient(circle at 14% 67%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%),
linear-gradient(90deg, rgb(234, 230, 230), rgb(234, 230, 230));

$bg-dark: 
radial-gradient(circle at 90% 8%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%), 
radial-gradient(circle at 12% 20%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%),
radial-gradient(circle at 70% 45%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%),
radial-gradient(circle at 14% 67%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%),
radial-gradient(circle at 78% 90%, rgba(255, 0, 182, 0.15) 0%, rgba(255, 0, 182, 0.05) 10%, transparent 20%),
linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));

$bg-header: #35353599;
$bg-header-movil: #0F172A;
$bg-skill: #d4a3ca;
$bg-badge: #eddcfb;
$bg-badge-ping:#8800ff;
$bg-timeline-cv-link:  #d8b7fa;
$bg-cardproject: #CFCCE6 ;//#bca2de;   
$bg-cardproject-dark: #1e1e1e;
$bg-icon: #D999B6;
$bg-form: #d9b0ff;

$text-enfasis: #663399;
$text-enfasis-dark: #3BE477;
$text-white: #ececec;
$text-black: #1a1a1a;

$font-size-small: 1.1rem;
$font-size-medium: clamp(0.89rem, 1.2vw + 0.4rem, 1.5rem);
$font-size-ml: clamp(1.5rem, 5vw, 3.5rem);
$font-size-xmedium: clamp(2.5rem, 8vw, 5rem);
$font-size-xlarge: clamp(3rem, 12vw, 8rem);

        