---
import '@/features/contact/contact.scss';
import ContactAction from '@/features/contact/contact-action/ContactAction.astro';
import ContactForm from '@/features/contact/contact-form/ContactForm.astro';
---

<section class="sectionContact">    
        <h2 class="sectionContact__title">
            ¡Te ayudo a crear algo increíble!
        </h2>

    <section class="sectionContact__container">
        <ContactForm />
        <ContactAction />
    </section>
</section>