---
import '@/sections/profile/card-profile/card-profile.scss';
import BadgeStatus from '@/sections/profile/card-profile/BadgeStatus.astro';
import ItemsIcons from "@components/ItemsIcons.astro";
import LinkedInIcon from "@/icons/LinkedIn.astro";
import GithubIcon from "@/icons/Github.astro";
import EmailIcon from "@/icons/Email.astro";
import ButtonCv from "@/sections/profile/card-profile/ButtonCv.astro";
---

<section class="card">

  <picture class="card__logo">
    <img src="/img/logo/LogoTipo.webp" alt="Logotipo De Ezequiel Suarez" class="cardPerfil__logo-img">
    <div class="card__article-badge">
      <BadgeStatus href="https://www.linkedin.com/in/ezequiel-suarez-dev/">Disponible</BadgeStatus>
    </div>
  </picture>

  <article class="card__article" >
    <h1 class="card__article-title" id="hero-title">
      <h1 class="card__article-title" id="hero-title">
        <span class="title-main">Desarrollador</span> 
        <span class="title-highlight">Frontend</span>
      </h1>
    </h1>
  </article>
  
  <article>
    <h2 class="card__descripcion">
      Enfoque en rendimiento, escalabilidad y experiencia de usuario. Diseño arquitecturas limpias, escalables y orientadas al negocio.
    </h2>
  </article> 
 
  <ul class="card__links">
    <li class="card__links-list">
      <ItemsIcons href="https://www.linkedin.com/in/ezequiel-suarez-dev/">
        <LinkedInIcon class="card__links-items"/>
      </ItemsIcons>
    </li>

    <li class="card__links-list">
      <ItemsIcons href="https://github.com/ezequiel-dev93" >
        <GithubIcon class="card__links-items"/>
      </ItemsIcons>
    </li>

    <li class="card__links-list">   
      <ItemsIcons href="mailto:ezequielsuarez.dev.com">
        <EmailIcon class="card__links-items"/>
      </ItemsIcons>
    </li>

    <li>
        <ButtonCv class="card__links--cv"/>
    </li>
  </ul>
</section>

<script>
  import { animateHeroTitle } from "@/core/data/lib/gsap";

  if (typeof window !== "undefined") {
    window.addEventListener("DOMContentLoaded", () => {
      animateHeroTitle();
    });
  }
</script>