@use "@/shared/styles/abstracts/_variables" as v;
@use "@/shared/styles/abstracts/_mixins" as mx;

.about {
  @include mx.column(flex, column, flex-start);
  padding-top: 12rem;

  &__title {
    @include mx.title-style();
    padding: 1rem 0;
  }

  &__description {
    max-width: 768px;

    p {
      font-size: v.$font-size-small;
      padding: 1rem 0;
    }

    span {
      color: v.$text-enfasis;
    }
  }

  &__cv{
    margin-top: 2rem;
  }
}

@media (320px <= width <= 768px) {
  .about {
    padding-top: 5rem;
  }
}
  