@use "@/shared/styles/abstracts/_variables" as v;
@use "@/shared/styles/abstracts/_mixins" as mx;

.sectionContenedor {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Dark Mode*/
.mode-dark__toggle {
  width: 3rem;
  height: 1.1rem;
  padding: 0 0.14rem;
  @include mx.flex(flex, space-between, center);
  position: relative;
  border-radius: 1rem;
  background-color: #0d1226;
  cursor: pointer;
  transition: background-color 0.4s, border-color 0.4s;

  &::before {
    content: '';
    position: absolute;
    width: 1.13rem;
    height: 1.13rem;
    border-radius: 1rem;
    background: v.$text-white;
    left: 0;
    transition: 0.4s;
  }
  
  &.active::before {
    left: unset;
    right: 0;
  }

  .mode-dark__icon--sun {
    color: #ffad3b;
  }

  .mode-dark__icon--moon {
    color: v.$text-white;
  }
}

/* Social Items*/
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0.5rem;
  border-radius: 1rem;
  background: #753076;
  color:  v.$text-white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 200;
}

/* Page 404*/
.not-found {
  @include mx.flex(flex, center, center);
  color: v.$text-white;
  flex-wrap: wrap;
  min-width: 10vh;
  min-height: 100vh;

  &__container {
    padding: 1rem 1.5rem;
  }
 
  &__title {
   color: v.$text-enfasis-dark;
    font-size: 2rem;
    padding: 1rem 0;
  }

  &__text {
    padding-bottom: 1rem;
  }

  &__link {
    width: 12rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    
    &:hover {
      background-color: v.$text-enfasis;
      color: v.$text-white;
      box-shadow: 0 0 8px rgba(17, 17, 17, 0.5);
      transform: scale(1.1);
    }
  }
}

/* Menu Movil*/
.icon-menu {
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
  z-index: 1002; 
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: .5rem;
  background-color: #9941fc;
  transition: all 0.3s ease;
}

.bar--1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar--2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar--3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

/* Header */
.header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 0.5rem;
  padding: 1rem 0;
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  transition: opacity .3s ease;

  
  &__container {
    @include mx.flex(flex, space-between, center);
    padding: 0 1rem;
    width: 100%;

    @media (max-width: 768px) {
    padding: 0 1rem;
    }
  }

  &__nav-logo {

    img {
      width: 9dvh;

      @media (max-width: 768px) {
        width: 6dvh;
        
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-menu {
      padding: 0rem 2rem;
      display: flex;
      align-items: center;
      gap: 2rem;

      li {
        position: relative;
        padding: 0.5rem 0;
        transition: all 0.3s ease;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: linear-gradient(135deg, #663399, #d946ef);
          transition: width 0.3s ease;
          border-radius: 2px;
        }

        &:hover {
          @include mx.text-animate;
        }

        &:hover::after {
          width: 100%;          
        }
      }

      @media (max-width: 1024px) {
        
        border-radius: 1rem 0 0 1rem;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        width: 70%;
        z-index: 999;
        background: var(--color-bg, #303030);
        color: v.$text-white;
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
        padding: 2rem;
      }

      &.active {
        @media (max-width: 840px) {
          transform: translateX(0);
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    &-movil {
      display: none;
      position: relative;

      @media (max-width: 1024px) {
        display: block;
      }
    }
  }
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  &__content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1; 
  }
}

@media (max-width: 767px) {
  .hero {

    &__content {
      padding-top: 12rem 0 0 0.8rem;
    } 
  }
}

/* Footer */
.footer {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  padding-bottom: 30rem;

  &__wave {
      position: absolute;
      z-index: 0;
      inset: 0;

      &-svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleY(3) scaleX(2.15);
      transform-origin: bottom;
      display: block;
      pointer-events: none;
    }
  }
}

.section-footer__container { 
    @include mx.flex(flex, space-around, center);
    flex-wrap: wrap;
  
    @include mx.mq-max(600px) {
      flex-direction: column;
    }
}
  
.section-footer {
  position: relative;
  z-index: 1;
  margin-top: 20rem;

  &__perfil {
    @include mx.center(flex, center, 1rem);
    padding: 1rem 0.7rem;

    &--title {
      display: flex;
      gap: 0.7rem;
      color: v.$text-white;
    }

    &--logo {
      width: 3rem;
    }
  }

  @include mx.mq-max(600px) {
    &__perfil {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1rem;
    }
    
    &__perfil--title {
        flex-direction: column;
      }  
  }

  &__social-list {    
    display: flex;
    gap: 1.5rem; 
  }

  &__social-item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: v.$bg-badge;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    padding: 0.8rem;
    box-shadow: 0 0 8px rgba(17, 17, 17, 0.5);
    @include mx.flex(flex, center, center);

    &:hover {
      background-color: #8a66c4; 
      box-shadow: 0 0 15px rgba(62, 62, 62, 0.7);
      transform: scale(1.1);
    }
  }

  &__social-icon {
    color: v.$text-black;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

    .section-footer__social-item:hover & {
      color: v.$text-white;
      transform: scale(1.2);
    }
  }

  &__legal {
    color: v.$text-white;
    padding-top: 6rem;
    text-align: center;

    @include mx.mq-max(600px) {
      @include mx.column(flex, column, center);
      padding-top: 2rem;
    } 
  }
}

/* Button Cv*/
.button {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    background-color: v.$bg-timeline-cv-link;
    color: v.$text-black;
    border-radius: 3rem;
    padding: 0.3rem 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;

    &__icon-wrapper {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        position: relative;
        background-color: v.$text-white;
        border-radius: 50%;
        @include mx.flex(flex,center, center);
        overflow: hidden;
    }

    &:hover {
        background-color: v.$text-enfasis;
        color: v.$text-white;
    }

    &:hover .button__icon-wrapper {
        color: v.$text-black;
    }
}

/* Badge Status */
.status-badge {
    @include mx.center(flex, center, 0.5rem);
    border-radius: 1rem; 
    border: 0.09rem solid;
    padding: 0.2rem 1rem; 
    background-color: v.$bg-badge; 
    color: v.$text-enfasis; 
    border-color: rgba(168, 85, 247, 0.2);

    &__dot {
      position: relative;
      display: flex;
      align-items: center;
      height: 0.5rem; 
      width: 0.5rem;
  
      &-ping {
      position: absolute;
      top: -0.03rem;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      background-color: v.$bg-badge-ping; 
      opacity: 0.75;
      animation: ping 1.5s infinite; 
  
      @keyframes ping {
        0% {
          transform: scale(0.8);
          opacity: 0.75;
        }
        50% {
          transform: scale(1.2);
          opacity: 0;
        }
        100% {
          transform: scale(0.8);
          opacity: 0.75;
        }
      }
    }
  }
}
  
