---
import Layout from '@layouts/Layout.astro';
import Header from '@components/core/layout/Header.astro';
import SectionContenedor from "@components/core//ui/section-conteiner/SectionContenedor.astro";
import CardProfile from '@components/showcase/profile/card-profile/CardProfile.astro';
import Experiencia from '@components/showcase/experience/Experience.astro';
import Briefcase from "@components/core/icons/Briefcase.astro"
import CardProject from '@components/showcase/projects/CardProject.astro';
import Coder from '@components/core/icons/Coder.astro';
import '@components/showcase/projects/card-project.scss';
import About from '@components/showcase/profile//about/About.astro';
import Skills from '@components/showcase/skills/Skills.astro';
import Contact from '@components/showcase/contact/Contact.astro';
import SectionFooter from '@components/core/layout/SectionFooter.astro';
import WaveFooter from '@components/core/icons/WaveFooter.astro';
---

<Layout title='Ezequiel Suarez | Desarrollador Front-End y Programador' 
description='Front-End Developer con 2años de experiencia. Formación autodicacta continua. Enfoque en accesibilidad, desarrollo modular y escalable. Estudiante de Ingeniería en Sistemas de Información.'>
	<Header />
	
	<main>
		<SectionContenedor class="card" id="top">
			<CardProfile />  
		</SectionContenedor>

		<SectionContenedor class="experience" id="experiencia">
			<article class="experience__title">
				<Briefcase />
				<h2 class="experience__title-h2">Experiencia</h2>				
			</article>
			 
			<Experiencia />
		</SectionContenedor>
		
		<SectionContenedor class="projects" id="proyectos">
			<article class="projects__title">
				<Coder/>
				<h2 class="projects__title-h2">Proyectos</h2>
			</article>

			<CardProject />
		</SectionContenedor>

		<SectionContenedor class="about" id="sobre-mi">
			<About />
		</SectionContenedor>

		<SectionContenedor class="skills" id="tecnologias">
			<Skills />
		</SectionContenedor>
		
		<SectionContenedor class="contactos" id="contactos">
			<Contact />
		</SectionContenedor>
	</main>

	<footer class="footer">
		<article class="footer__wave">
			<WaveFooter class="footer__wave-svg"/>
		</article>
		
		<SectionFooter />
	</footer>
</Layout>
 