---
import '@/features/about/about.scss';
import aboutData from "@/features/about/data/aboutData";
import ButtonCv from '@/shared/components/ButtonCv.astro';

const { title, description } = aboutData;
---

<section class="about__article" aria-labelledby="about-title">
  <header class="about__title">
    <h2 id="about-title" class="about__title-h2">{title}</h2>
  </header>
  
  <footer class="about__description">
    {description.map((text, index) => (
      <p 
        class="about__text" 
        set:html={text} 
        aria-label={`párrafo ${index + 1} de la sección sobre mí`}>
      </p>
    ))}

    <article class="about__cv">
      <ButtonCv />
    </article>
  </footer>
</section>
