---
import ArrowUpRight from "@/icons/ArrowUpRight.astro";


---
<a href="https://drive.google.com/file/d/1B3ecm0tBovHYi09mOPQfcHr5t7WakDM-/view?usp=drive_link" target="_blank" 
rel="noopener noreferrer" class="button">
    Descargar CV
    <span class="button__icon-wrapper">
      <ArrowUpRight class="button__icon-svg" />

      <ArrowUpRight class="button__icon-svg button__icon-svg--copy" />
    </span>
</a>