---
import ContactAction from '@/components/ContactAction.astro';
import ContactForm from '@/components/ContactFom.astro';
import RocketIcon from '@/icons/Rocket.astro';
import '@/styles/app.scss';
---

<section class="sectionContact">    
   <article class=" sectionContact__article">
       <RocketIcon class="sectionContact__article-icon"/>
        <h2 class="sectionContact__article-title">
            ¡Te ayudo a crear algo increíble!
        </h2>
   </article>

    <div class="sectionContact__container">
        <ContactForm />
        <ContactAction />
    </div>
</section>