---
import '@styles/app.scss'
import Items from '@/components/Items.astro';
import MenuMobile from '@/components/MenuMobile.astro';
import DarkMode from '@/components/DarkMode.astro'
---
<header class="header">
  <nav class="header__nav">    
    <article class="header__nav-movil">
      <MenuMobile />
    </article>  

    <ul class="header__nav-menu">
      <Items href="#top">Inicio</Items>
      <Items href="#experiencia">Experiencia</Items>
      <Items href="#proyectos">Proyectos</Items>
      <Items href="#sobre-mi">Sobre Mi</Items>
      <Items href="#tecnologias">Tecnologías</Items>
      <Items href="#services">Servicios</Items>
      <Items href="#contactos">Contacto</Items>
      
      <DarkMode />  
    </ul>
  </nav>
</header>

<script is="global">
document.addEventListener('DOMContentLoaded', () => {
    const checkbox = document.querySelector('.check-icon');
    const menu = document.querySelector('.header__nav-menu');

    if (checkbox && menu) {
      
      checkbox.addEventListener('change', () => {
        if (checkbox.checked) {
          menu.classList.add('active');
        } else {
          menu.classList.remove('active');
        }
      });

      menu.addEventListener('click', (event) => {
        if (event.target.tagName === 'A') {
          checkbox.checked = false;
          menu.classList.remove('active');
        }
      });
    }
});
</script>