---
import '@styles/app.scss'
import Items from '@/components/Items.astro';
import MenuMobile from '@/components/MenuMobile.astro';
import DarkMode from '@/components/DarkMode.astro';
---

<header class="header">
  <nav class="header__nav" role="navigation" aria-label="Menú principal">    

    <article class="header__nav-movil">
      <MenuMobile />
    </article>  

    <ul 
      class="header__nav-menu"
      id="menu"
      role="menu"
      aria-hidden="true"
      tabindex="-1"
    >
      <Items href="#top">Inicio</Items>
      <Items href="#experiencia">Experiencia</Items>
      <Items href="#proyectos">Proyectos</Items>
      <Items href="#sobre-mi">Sobre Mi</Items>
      <Items href="#tecnologias">Tecnologías</Items>
      <Items href="#services">Servicios</Items>
      <Items href="#contactos">Contacto</Items>
      
      <DarkMode />  
    </ul>
  </nav>
</header>


<script>
  import '@/core/js/header.js';
</script>