---
import "@/styles/app.scss";
import CardProfile from "@/sections/profile/card-profile/CardProfile.astro";
---

<section class="hero" id="top">
  <div class="hero__background" id="hero-background"></div>

  <section class="hero__content">
    <CardProfile />
  </section>
</section>

<script>
  import '@/core/js/hero.js';
</script>
