<input 
  hidden 
  class="check-icon" 
  id="check-icon"
  name="check-icon" 
  type="checkbox"
  aria-label="Abrir o cerrar menú de navegación"
>

<label 
  class="icon-menu" 
  for="check-icon"
  aria-label="Menú de navegación"
  aria-controls="main-menu"
  aria-expanded="false"
>
  <div class="bar bar--1"></div>
  <div class="bar bar--2"></div>
  <div class="bar bar--3"></div>
</label>