---
const { class: className, id} = Astro.props;
---

<section id={id} class={`sectionContenedor ${className}`}>
    <slot />
</section>

<style is:global>
    .sectionContenedor {
        width: 100%;
        margin-inline: auto;
    }

    @media (min-width: 1024px) {
        .sectionContenedor {
            width: 800px;
        }
    }
</style>