---
import '@/styles/app.scss';
import AstroIcon from '@/icons/AstroIcon.astro';
import LaptopCode from '@/icons/LaptopCode.astro';
import Html from '@/icons/Html.astro';
import Css from '@/icons/Css.astro';
import JavaScript from '@/icons/JavaScript.astro';
import React from '@/icons/React.astro';
import TypeScript from '@/icons/TypeScript.astro';
import Tailwind from '@/icons/Tailwind.astro';
import Sass from '@/icons/Sass.astro';
import Python from '@/icons/Python.astro';
import Mysql from '@/icons/Mysql.astro';
import FastAPI from '@/icons/FastAPI.astro';
import Cloudflare from '@/icons/Cloudflare.astro';
import Git from '@/icons/Git.astro';
import NodeJs from '@/icons/NodeJs.astro';
import Doker from '@/icons/Doker.astro';
---
<section class="skill" id="tecnologias">
    <article class="skill__title">
      <LaptopCode class="skill__title-icon"/>
      <h2 class="skill__title-h2">Habilidades</h2>
    </article>
    
    <section class="skill__categories">
      <article class="skill__category">
        <h3 class="skill__subtitle">Front-End</h3>
        <ul class="skill__list">
          <li><AstroIcon class="skill__list-icon" /></li>
          <li><Html class="skill__list-icon" /></li>
          <li><Css class="skill__list-icon" /></li>
          <li><JavaScript class="skill__list-icon" /></li>
          <li><React class="skill__list-icon" /></li>
          <li><TypeScript class="skill__list-icon" /></li>
          <li><Sass class="skill__list-icon" /></li>
          <li><Tailwind class="skill__list-icon" /></li>
          <li><Git class="skill__list-icon" /></li>
        </ul>
      </article>
      
      <article class="skill__category">
        <h2 class="skill__subtitle">Back-End</h2>
        <ul class="skill__list">
          <li><Python class="skill__list-icon" /></li>
          <li><Mysql class="skill__list-icon" /></li>
          <li><FastAPI class="skill__list-icon" /></li>
        </ul>
      </article>
      
      <article class="skill__category">
        <h2 class="skill__subtitle">Aprendiendo</h2>
        <ul class="skill__list">
          <li><Cloudflare class="skill__list-icon" /></li>
          <li><NodeJs class="skill__list-icon" /></li>
          <li><Doker class="skill__list-icon"/></li>
        </ul>
      </article>
    </section>
</section>
  