---
import "@/features/hero/hero.scss";
import CardProfile from "@/features/profile/card-profile/components/CardProfile.astro";
---

<section class="hero" id="top">
   <section class="hero__content">
    <CardProfile />
  </section>
</section>

