@use "@/styles/base/_variables" as v;
@use "@/styles/base/_mixins" as mx;

.header {
  max-width: 1120px;
  width: 100%;
  margin: 0.76rem auto;            
  position: fixed;                          
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  :is(&__nav, &__nav-menu) {
    @include mx.flex(flex, center, center);
  }

  &__nav {    
    flex: 1;
    position: relative;
  }
  
  &__nav-menu {
    background-color: v.$bg-header; 
    backdrop-filter: blur(10px);     
    border-radius: 1rem;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 251, 251, 0.1);
    padding: 0.37rem 2rem;
    gap: 2rem;

    li {
      color: v.$text-white;
      
      &:hover {
        color: v.$text-black;
      }
    }
  }

  &__nav-movil {
    display: flex; 
    align-items: center;
    position: absolute; 
    right: 0; 
    display: none;
  }

  &__toggle {
    margin: auto;
  }
}
    
@include mx.mq-max(768px) {
  .header__nav-menu {
    display: none;
    color: v.$text-white;

    & li:hover {
        color: v.$text-enfasis-dark;
    }
  }
  
  .header__nav-menu.active {
    display: flex; 
    flex-direction: column;
    justify-content: start; 
    background: #303030;
    position: fixed;
    top: 0;
    right: 0;
    width: 14rem;
    height: 100%;
    padding: 1.5rem;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    border-radius: 0rem;
  }

  .header__nav-movil {
    display: flex; 
    visibility: visible;
    align-items: center;
    margin: 2rem;
    padding-top: 2rem;
  }

  .header__toggle {
    margin-right: 1.5rem;
  }
}
