---
import '@/components/core/layout/footer.scss';
import SlackIcon from '@/components/core/icons/Slack.astro';
import LinkedInIcon from '@/components/core/icons/LinkedIn.astro';
import GithubIcon from '@/components/core/icons/Github.astro';
import EmailIcon from '@/components/core/icons/Email.astro';
import ItemsIcons from '@/components/core/ui/ItemsIcons.astro';
---

<section class="section-footer">
    <section class="section-footer__container">
        <article class="section-footer__perfil">
            <div class="section-footer__perfil--logo">
                <a href="#top"><img src="/img/logo/LogoTipo.webp" class="logo" alt="Logo De Ezequiel Suarez" loading="lazy"></a>        
            </div>

            <div class="section-footer__perfil--title">
                <h1>Ezequiel Suarez</h1>
                <p>Desarrollador Front-End</p>
            </div>
        </article>
            
        <article class="section-footer__social">
            <ul class="section-footer__social-list">
               <li class="section-footer__social-item">
                    <ItemsIcons href="mailto:ezequielsuarez.dev@gmail.com">
                        <EmailIcon class="section-footer__social-icon" />
                    </ItemsIcons>
               </li>
                
               <li class="section-footer__social-item">
                    <ItemsIcons href="https://app.slack.com/huddle/T03UTHFCGLF/C03V55LJ7HT">
                        <SlackIcon class="section-footer__social-icon"/>
                    </ItemsIcons>
               </li>
                
               <li class="section-footer__social-item">
                    <ItemsIcons href="https://www.linkedin.com/in/ezequiel-suarez-dev">
                        <LinkedInIcon class="section-footer__social-icon" />
                    </ItemsIcons>
               </li>
               
                <li class="section-footer__social-item">
                    <ItemsIcons href="https://github.com/ezequiel-dev93">
                        <GithubIcon class="section-footer__social-icon" />
                    </ItemsIcons>
                </li>
            </ul>  
        </article>
    </section>
    <p class="section-footer__legal"> 
        <span>© 2025 Ezequiel Suarez.</span> <span>Todos los derechos reservados</span>
    </p>
</section>



